.container-fluid{
    border-width: 5px;
    border-style: solid;
    border-color: red;
    position: relative;
    height: 100%;
    width: 50%;
    top: 15%;
    /* background-size:contain; */
    overflow: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.home-page-heroes-image{
    position: relative;
    border-width: 5px;
    border-style: solid;
    border-color: red;
    height: 500px;
    width: 50%;
}

.begin-your-adventure-button{
    position: relative;
    left: 40%;
    white-space: normal;
    top: 80%;
}

